/* 所需的风格 */
.lmap-pane,
.lmap-tile,
.lmap-marker-icon,
.lmap-marker-shadow,
.lmap-tile-container,
.lmap-pane>svg,
.lmap-pane>canvas,
.lmap-zoom-box,
.lmap-image-layer,
.lmap-layer {
	position: absolute;
	left: 0;
	top: 0;
}

.lmap-container {
	overflow: hidden;
}

.lmap-tile,
.lmap-marker-icon,
.lmap-marker-shadow {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

/* Safari可以更好地在视网膜上呈现非视网膜，但Chrome效果更差 */
.lmap-safari .lmap-tile {
	image-rendering: -webkit-optimize-contrast;
}

/* 在加载新瓷砖时阻止hw层“拉伸”的hack */
.lmap-safari .lmap-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
}

.lmap-marker-icon,
.lmap-marker-shadow {
	display: block;
}

/* .lmap-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .lmap-container img: 如果你在瓷砖上有最大宽度：100％，则在FF中打破地图 */
.lmap-container .lmap-overlay-pane svg,
.lmap-container .lmap-marker-pane img,
.lmap-container .lmap-shadow-pane img,
.lmap-container .lmap-tile-pane img,
.lmap-container img.lmap-image-layer {
	max-width: none !important;
	max-height: none !important;
}

.lmap-container.lmap-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
}

.lmap-container.lmap-touch-drag {
	-ms-touch-action: pinch-zoom;
	/*FF的后退不支持捏缩放 */
	touch-action: none;
	touch-action: pinch-zoom;
}

.lmap-container.lmap-touch-drag.lmap-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}

.lmap-container {
	-webkit-tap-highlight-color: transparent;
}

.lmap-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}

.lmap-tile {
	-webkit-filter: inherit;
	filter: inherit;
	visibility: hidden;
}

.lmap-tile-loaded {
	visibility: inherit;
}

.lmap-zoom-box {
	width: 0;
	height: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 800;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.lmap-overlay-pane svg {
	-moz-user-select: none;
}

.lmap-pane {
	z-index: 400;
}

.lmap-tile-pane {
	z-index: 200;
}

.lmap-overlay-pane {
	z-index: 400;
}

.lmap-shadow-pane {
	z-index: 500;
}

.lmap-marker-pane {
	z-index: 600;
}

.lmap-tooltip-pane {
	z-index: 650;
}

.lmap-popup-pane {
	z-index: 700;
}

.lmap-map-pane canvas {
	z-index: 100;
}

.lmap-map-pane svg {
	z-index: 200;
}

.lmap-vml-shape {
	width: 1px;
	height: 1px;
}

.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
}

/*  控件定位 */
.lmap-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted;
	/* IE 9-10 doesn't have auto */
	pointer-events: auto;
}

.lmap-top,
.lmap-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
}

.lmap-top {
	top: 0;
}

.lmap-right {
	width: 100%;
	right: 10px;
}

.lmap-bottom {
	bottom: 0;
}

.lmap-left {
	left: 0;
}

.lmap-control {
	float: left;
	clear: both;
}

.lmap-right .lmap-control {
	float: right;
}

.lmap-top .lmap-control {
	margin-top: 10px;
}

.lmap-bottom .lmap-control {
	margin-bottom: 10px;
}

.lmap-left .lmap-control {
	margin-left: 10px;
}

.lmap-fade-anim .lmap-tile {
	will-change: opacity;
}

.lmap-fade-anim .lmap-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.lmap-fade-anim .lmap-map-pane .lmap-popup {
	opacity: 1;
}

.lmap-zoom-animated {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.lmap-zoom-anim .lmap-zoom-animated {
	will-change: transform;
}

.lmap-zoom-anim .lmap-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

.lmap-zoom-anim .lmap-tile,
.lmap-pan-anim .lmap-tile {
	-webkit-transition: none;
	transition: none;
}

.lmap-zoom-anim .lmap-zoom-hide {
	visibility: hidden;
}

/* 光标 */
.lmap-interactive {
	cursor: pointer;
}

.lmap-grab {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.lmap-crosshair,
.lmap-crosshair .lmap-interactive {
	cursor: crosshair;
}

.lmap-popup-pane,
.lmap-control {
	cursor: auto;
}

.lmap-dragging .lmap-grab,
.lmap-dragging .lmap-grab .lmap-interactive,
.lmap-dragging .lmap-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

/* marker & overlays interactivity */
.lmap-marker-icon,
.lmap-marker-shadow,
.lmap-image-layer,
.lmap-pane>svg path,
.lmap-tile-container {
	pointer-events: none;
}

.lmap-marker-icon.lmap-interactive,
.lmap-image-layer.lmap-interactive,
.lmap-pane>svg path.lmap-interactive {
	pointer-events: visiblePainted;
	/* IE 9-10 doesn't have auto */
	pointer-events: auto;
}

/* 视觉上的调整 */
.lmap-container {
	background: #fcf9f2;
	outline: 0;
}

.lmap-container a {
	color: #0078A8;
}

.lmap-container a.lmap-active {
	outline: 2px solid orange;
}

.lmap-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255, 255, 255, 0.5);
}

/* 一般排版*/
.lmap-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* 一般工具栏样式 */
.lmap-bar {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
}

.lmap-bar a,
.lmap-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.lmap-bar a,
.lmap-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.lmap-bar a:hover {
	background-color: #f4f4f4;
}

.lmap-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.lmap-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
}

.lmap-bar a.lmap-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
}

.lmap-touch .lmap-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.lmap-touch .lmap-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.lmap-touch .lmap-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

/* zoom 控件 */
.lmap-control-zoom-in,
.lmap-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}

.lmap-touch .lmap-control-zoom-in,
.lmap-touch .lmap-control-zoom-out {
	font-size: 22px;
}

/* layers 控件 */
.lmap-control-layers {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	background: #fff;
	border-radius: 5px;
}

.lmap-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
}

.lmap-retina .lmap-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
}

.lmap-touch .lmap-control-layers-toggle {
	width: 44px;
	height: 44px;
}

.lmap-control-layers .lmap-control-layers-list,
.lmap-control-layers-expanded .lmap-control-layers-toggle {
	display: none;
}

.lmap-control-layers-expanded .lmap-control-layers-list {
	display: block;
	position: relative;
}

.lmap-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
}

.lmap-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
}

.lmap-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
}

.lmap-control-layers label {
	display: block;
}

.lmap-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
}

/* 默认图标网址*/
.lmap-default-icon-path {
	background-image: url(images/marker-icon.png);
}

/* attribution and scale controls */
.lmap-container .lmap-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
}

.lmap-control-attribution,
.lmap-control-scale-line {
	padding: 0 5px;
	color: #333;
}

.lmap-control-attribution a {
	text-decoration: none;
}

.lmap-control-attribution a:hover {
	text-decoration: underline;
}

.lmap-container .lmap-control-attribution,
.lmap-container .lmap-control-scale {
	font-size: 11px;
}

.lmap-left .lmap-control-scale {
	margin-left: 5px;
}

.lmap-bottom .lmap-control-scale {
	margin-bottom: 5px;
}

.lmap-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

.lmap-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
}

.lmap-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
}

.lmap-touch .lmap-control-attribution,
.lmap-touch .lmap-control-layers,
.lmap-touch .lmap-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.lmap-touch .lmap-control-layers,
.lmap-touch .lmap-bar {
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

/* 弹出 */
.lmap-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
}

.lmap-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
}

.lmap-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
}

.lmap-popup-content p {
	margin: 18px 0;
}

.lmap-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
}

.lmap-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.lmap-popup-content-wrapper,
.lmap-popup-tip {
	background: white;
	color: #333;
	-webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.lmap-container a.lmap-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
}

.lmap-container a.lmap-popup-close-button:hover {
	color: #999;
}

.lmap-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.lmap-oldie .lmap-popup-content-wrapper {
	zoom: 1;
}

.lmap-oldie .lmap-popup-tip {
	width: 24px;
	margin: 0 auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

.lmap-oldie .lmap-popup-tip-container {
	margin-top: -1px;
}

.lmap-oldie .lmap-control-zoom,
.lmap-oldie .lmap-control-layers,
.lmap-oldie .lmap-popup-content-wrapper,
.lmap-oldie .lmap-popup-tip {
	border: 1px solid #999;
}

/* div icon */
.lmap-div-icon {
	background: #fff;
	border: 1px solid #666;
}

/* 提示 */
/* 具有工具提示的元素的基本样式 */
.lmap-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.lmap-tooltip.lmap-clickable {
	cursor: pointer;
	pointer-events: auto;
}

.lmap-tooltip-top:before,
.lmap-tooltip-bottom:before,
.lmap-tooltip-left:before,
.lmap-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* 路线 */
.lmap-tooltip-bottom {
	margin-top: 6px;
}

.lmap-tooltip-top {
	margin-top: -6px;
}

.lmap-tooltip-bottom:before,
.lmap-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
}

.lmap-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
}

.lmap-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
}

.lmap-tooltip-left {
	margin-left: -6px;
}

.lmap-tooltip-right {
	margin-left: 6px;
}

.lmap-tooltip-left:before,
.lmap-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
}

.lmap-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
}

.lmap-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
}

.lmap-icon {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color:#888;
}


.lmap-icon img {
	width: 20px;
	height: 20px;
}



/* ------------- */
.control-floor-minus::after,
.control-floor-plus::after {
	content: "";
	margin: auto;
	left: 0;
	right: 0;
	width: 0;
	height: 0
}

a.control-floor-item,
a.control-floor-item:hover {
	cursor: pointer;
	font-size: 12px;
	line-height: 30px
}

.control-floor-plus {
	position: relative
}

.control-floor-plus::after {
	position: absolute;
	top: 0;
	border: solid transparent;
	border-width: 10px 8px;
	border-bottom-color: #666
}

.control-floor-minus {
	position: relative
}

.control-floor-minus::after {
	position: absolute;
	top: 12px;
	border: solid transparent;
	border-width: 10px 8px;
	border-top-color: #666
}

.control-detailtip {
	position: absolute;
	background: #fff;
	display: none;
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, .2)
}

span.detailtip-title {
	display: block;
	float: left;
	padding-left: 20px;
	font-size: 16px;
	color: #565656
}

.control-detailtip a.detailtip-route {
	float: right;
	display: inline-block;
	width: 66px;
	height: 30px;
	border-radius: 3px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	background: #2B8FD8;
	color: #fff;
	margin-top: 25px;
	margin-right: 20px;
	text-decoration: none
}

.c-routebar {
	position: absolute;
	background: #fff;
	z-index: 1101;
	width: 100%;
	color: #565656
}

ul.c-r-fileset {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 110px
}

ul.c-r-fileset li {
	float: left
}

ul.c-r-fileset li.c-r-c {
	width:60px;
	padding-left: 10px
}

ul.c-r-fileset li span {
	display: block;
	width: 30px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	color: #565656
}

.c-r-switch {
	width: 60px;
	height: 50px;
	text-align: center
}

ul.c-r-fileset li div.c-r-switch,
ul.c-r-fileset li span.c-r-textBack {
	display: block;
	width: 50px;
	padding-top: 34px;
	text-align: center
}

ul.c-r-fileset li img {
	width: 2rem;
	height: 2.5rem;
	cursor: pointer
}

ul.c-r-fileset li input {
	height: .43rem;
	font-size: 16px;
	color: #666;
	outline: 0;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #cbcbcb
}

.c-r-routedetail,
.c-r-wrong {
	border-radius: 2px;
	text-align: center
}

.c-r-routedetail {
	font-size: 16px;
	height: 55px;
	background: #fff;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
	display: block;
	z-index: 1;
	position: relative
}

span.c-r-txt {
	/* height: 55px;
	line-height: 55px;
	text-align: center;
	color:#666; */
	height: 55px;
    text-align: center;
    color: #666;
    float: left;
    width: 85%;
	margin-top: 13px;
	font-size: 14px;
}

span.c-r-delete {
	display: block;
	width: 50px;
	float: right;
	text-align: center;
	padding-top: 16px;
	cursor: pointer
}

span.c-r-delete img {
	width: 20px
}

.c-r-swipe {
	overflow: hidden;
	position: absolute;
	background: #fff;
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, .2)
}

.c-r-swipe .swipe-wrap {
	overflow: hidden;
	position: relative
}

.c-r-swipe .swipe-wrap>div {
	float: left;
	width: 100%;
	position: relative;
	text-align: center
}

.c-r-swipe .swipe-item {
	text-align: center
}

.c-r-swipe .swipe-item img {
	width: 16px
}

.c-r-swipe .swipe-item span.s-i-right {
	display: block;
	float: right;
	width: 50px;
	cursor: pointer
}

.c-r-swipe .swipe-item span.s-i-left {
	display: block;
	float: left;
	width: 50px;
	cursor: pointer
}

.c-r-wrong {
	position: absolute;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
	background-color: #fff
}

.c-r-pop img {
	height: 9px;
	vertical-align: baseline;
	cursor: pointer
}

.c-r-pop {
	font-size: 12px;
	line-height: 20px
}

.c-d-popdiv {
	text-align: center
}

.c-d-pop img {
	height: 15px;
	margin-left: 5px;
	margin-right: 10px;
	vertical-align: text-top;
	cursor: pointer
}

.lmap-right {
	width: auto;
	margin-top: 10px;
	position: absolute;
	z-index: 1001;
	color: #ccc;
	cursor: auto;
	pointer-events: auto;
	float: left;
	clear: both;
}

.c-s-form img.s-d-icon {
	height: 18px;
}

.s-txtinput {
	width: 200px;
}

.c-s-page {
	top: -20px;
	width: 103%!important;
	/* z-index: 9999999999999!important; */
	/* overflow-y: scroll; */
}

.indoor-top .indoor-control {
	margin-top: 10px;
}

.control-searchbar {
	position: absolute;
	width: 100%;
	z-index: 1001;
	color: #ccc;
}

.indoor-control,
.indoor-popup-pane {
	cursor: auto;
}

.c-s-bar {
	padding: 0 10px;
}

.c-s-bar .input {
	padding: 3px 8px;
	font-size: 16px;
	line-height: 36px;
	border-radius: 2px;
	display: block;
	position: relative;
}

.c-s-bar .input,
.c-s-form .s-input {
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
}

.c-s-bar .input,
.c-s-form .s-input {
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
}

.c-s-bar .input img {
	float: right;
	width: 18px;
	margin-top: 9px;
}

.c-s-page {
	position: absolute;
	width: 100%;
	z-index: 1002;
	display: none;
	background-color: #fff;
	font-size: 12px;
	cursor: auto;
	color: #565656
}

.c-s-form {
	height: 50px;
	padding-top: 5px;
}

.c-s-form>div {
	float: left
}

.c-s-form .s-input {
	line-height: 30px;
	border-radius: 4px;
	padding-left: 5px;
	margin: 8px 0 0 20px;
	border-left: 1px solid #f6f6f6;
	border-top: 1px solid #f6f6f6
}

.c-s-form img {
	width: 18px;
	margin-right: 10px;
	vertical-align: middle
}

.c-s-form img.s-d-icon {
	cursor: pointer;
	width: 18px;
}

.c-s-form input {
	background: 0 0;
	border: none;
	outline: 0;
	padding: 5px 0;
	line-height: 26px;
	vertical-align: middle;
	font-size: 14px
}

.c-s-form .s-cancel {
	width: 50px;
	line-height: 30px;
	margin-top: 15px;
	cursor: pointer
}

.c-s-page .result {
	background: #fff;
	overflow-y: auto
}

.c-s-page .clear {
	clear: both
}

.s-result {
	height: 92%;
	width: 100%;
	padding-left: 10px;
	overflow-y: scroll;
	/* overflow: hidden */

}

.amaplist-li {
	width: 52px;
}

.amaplist-li img {
	height: 40px;
	width: 40px;
}

.amaplist-ul {
	list-style: none;
}

.typepanel li {
	float: left;
	font-size: 12px;
	padding-bottom: 15px
}

.typepanel span {
	display: block;
	cursor: pointer
}

.typepanel img {
	cursor: pointer
}

.typepanel {
	margin-top: 5px;
	padding: 5px;
}

.typepanel ul {
	list-style: none;
	margin: 0;
	padding: 15px
}

.typepanel li {
	float: left;
	font-size: 12px;
	padding-bottom: 15px;
}

.control-floor-list a.lmap-disabled {
	cursor: default;
	background-color: #f30;
	color: #fff;
	opacity: 1;
}

.lmap-top.lmap-right {
	width: 100%;
}

.c-s-form .s-cancel,
.indoor-control-scale-line,
.typepanel li {
	text-align: center;
}

.typepanel img {
	cursor: pointer;
}

img {
	vertical-align: middle;
}
.s-cancelClose{
	font-weight: 700;
	font-size: 18px;
	margin-top: 4%;
	margin-left: 10px;
	display: none;
}
.c-s-form .s-cancel,
.typetitle {
	font-weight: 700;
	font-size: 18px;
}

.typetitle {
	background-color: #f7f7f7;
	clear: both;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
}

.resulttitle {
	text-align: right;
	padding-right: 15px;
	line-height: 30px;
	height: 30px;
	border-bottom: 1px solid #ededed
}

.resultpanel{
	overflow: hidden;
	margin-top: 1px;
}

.resultpanel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.resultpanel li {
	border-bottom: 1px solid #ededed;
	padding: 0 15px;
	line-height: 35px;
	height: 35px;
	cursor: pointer;
	font-weight: 700;
}

.resultpanel li span {
	float: right;
}


.c-d-popdiv {
    text-align: center;
}
.c-d-pop img {
    height: 15px;
    margin-left: 5px;
    vertical-align: text-top;
    cursor: pointer;
}



ul.c-r-fileset {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 110px;
}
ul.c-r-fileset li {
    float: left;
}


ul.c-r-fileset li span {
    display: block;
    width: 30px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #565656;
}

ul.c-r-fileset li div.c-r-switch, ul.c-r-fileset li span.c-r-textBack {
    display: block;
    width: 50px;
    padding-top: 34px;
    text-align: center;
}

ul.c-r-fileset li img {
    width: 20px;
    height: 25px;
    cursor: pointer;
}


ul.c-r-fileset li input {
    height: 43px;
    color: #666;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #cbcbcb;
}

ul.c-r-fileset li.c-r-c {
    padding-left: 10px;
}

span.c-r-delete {
    display: block;
    width: 50px;
    float: right;
    text-align: center;
	/* padding-top: 16px; */
	padding-top: 12px;
    cursor: pointer;
}

.errorBox{
	font-size: 14px;
    background-color: #ffd573;
    width: 100%;
    height: 60px;
    line-height: 55px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(60,60,60,.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
    z-index: 1200;
	position: absolute;
	display:block;
}



.s-input,.c-r-c,.c-r-r{
    -webkit-user-select: auto !important;
}

input {
    -webkit-user-select: auto !important;
}
