html,
body {
    font-family: Arial, Verdana;
    background-color: #EEF1EF;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

#map {
    height: 100%;
}
.goBacklast{
  width: 43px;
  height: 43px;
  border-radius: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  color: #4a4a4a;
  font-size: 12px;
  box-shadow:0px 0 2px #333333;
}
.contern_right{
  padding: 10px;
  border: 1px solid #ddd;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25%;
}
.top_floors {
  /* position: absolute; */
  right: 5px;
  /* width: 25%; */
  /* height: 20%; */
  opacity: .9;
  top: 0%;
  z-index:1000;
}
.top_Imgs {
  /* position: absolute; */
  right: 5px;
  height: 40%;
  /* width: 25%; */
  opacity: .9;
  /* top: 20%; */
  z-index:1000;
}

#myPageTop {
  position: absolute;
  /* right: 5px; */
  width: 93%;
  height: 40%;
  /* background: #709c77; */
  opacity: .9;
  /* top: 44%; */
  padding: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  background: none;
  z-index:1000;
}
#preserve_data {
  /* color: #fff;
  background-color: #41abff;
  border-color: #5bbbff; */
  width: 46%;
}

#submit_online {
  width: 46%;
  margin-left: 5%;
  color: #fff;
  /* background-color: #e56ffb; */
}
/* .ceshi {
  background-color: #fff;
  position: absolute;
  right: 45%;
  width: 30%;
  height: 400px;
  opacity: .9;
  top: 1%;
  z-index:1000;
  border-radius:5px;
} */
.imgCAD{
  border: 1px solid #ccc;
  width: 15%;
  height: 6%;
  position: absolute;
  right: 7%;
  top: 10%;
}
.btn_style{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 2px;
  border-radius: 3px;
  margin-left:5px;
  width: 16%;
  font-size: 15px;
}
.input_list{
  float: left;
  height: 30px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-indent: 6px;
}
.auxiliary{
  width: 100px;
  height: 200px;
  border: 1px solid #9e9c99;
  border-radius: 5px;
  background: #fff;
  position: relative;
  top: -43px;
  left: 50px;
  display: none;
  overflow-y: scroll;
}
.auxiliary li{
  list-style: none;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #d4cbc2
}
.auxiliary li:hover{
  background: #d4cbc2;
}
.auxiliary li img{
  width: 25px;
  height: 25px;
}
.auxiliary li span{
  float: right;
  font-size: 14px
}
