.form-control {
  width: 150px;
}

#mapdataform {
  /* height: 300px; */
  /* overflow-y: scroll; */
  /* overflow-x:hidden; */
  border-bottom: 1px solid #ccc;
}

.leaflet-control-attribution {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.34);
}
.leaflet-control-zoom{
  visibility: hidden!important;
}
/* table居中 */
.fixed-table-container{
  text-align: center;
}
th{
  text-align: center;
}
