.page-inner {
  padding: 0;
}
.logo-box{
  padding:10.5px;
  background: #323C4D;
  text-align: center;
  height: 56px;
}
.fixed-table-container {
  margin: 0 20px !important;
}
.layui-layer-content {
  padding: 10px 20px;
  background: #000;
  opacity: .8;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  position: fixed;
  bottom: 5%;
  text-align: center;
  right: 3%;
  z-index: 9999999;
}
.eachchecked:hover{
  background-color: rgb(63, 73, 94);
}
.eachchecked:hover a div{
  color: #fff;
}
.menuTestLlName a font{
  color: #fff;
}
.menuTestLlName a font:hover{
  color: #ccc;
}
#menu_list{
  position: absolute;
  z-index: 99999999;
  display: none;
  height: 100%;
  float: left;
  background-color: rgb(63, 73, 94);
}
#menu_list ul{
  margin-top: 10px;
}
#menu_list ul li{
  list-style: none;
  line-height: 40px;
  color: #fff!important;
  margin-left: 15px;
}
.menuTestLlName a{
  color: #fff!important;
}
.Webstarsterrace{
  margin-top: 14px;
  font-size: 20px;
  color: #fdf7f7;
}
#notification:hover i,#peoplrMessage:hover span{
  color: #637282!important;
}
.dropdownhover:hover span,.dropdownhover:hover p{
  color: #637282!important;
}
#badgeIcon{
  background:#cc3f3f;
  margin-top: -20px;
  margin-left: -5px;
}
.skiptranslate,.goog-te-spinner-pos{
  display: none;
}
