.pdfobject-container {
  height: 500px;
}

.pdfobject {
  border: 1px solid #ccc;
}

a,
a:hover {
  color: #222;
}

.form-inline {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form-inline .form-group {
  margin: 10px;
}

.xblock {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #F2F2F2;
  align-items: center
}

.modal-backdrop.in {
  display: none
}

#toolbar input,
#toolbar select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc
}

#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toolbar>* {
  /* margin-right: 5px */
}

.bs-bars{
  /* float: none !important; */
  width: 100%
}
/* table居中 */
.fixed-table-container{
  /* text-align: center; */
}
th{
  text-align: center;
}
