.summer-treegrid{
    border-radius: 4px 4px 0 0;
    border: 1px solid #DDDDDD;
    /*overflow-x: auto;*/
}
.summer-treegrid div {
    box-sizing: border-box;
}
.summer-treegrid .ztree {
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
}
.summer-treegrid-head {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    background-color: #f0f0f0;
}
.summer-treegrid-row {
    overflow: hidden;
}
.summer-treegrid-cell{
    float: left;
    height: 34px;
    text-align: left;
    padding: 8px 10px;
    border-left: 1px solid #cfcfcf;
}
.summer-treegrid-cell.border-top {
    border-top: 1px solid #cfcfcf;
}
.summer-treegrid-cell.center {
    text-align: center;
}
.summer-treegrid-cell:first-child {
    border-left: 0;
}
.summer-treegrid-hover {
    list-style-type: none;
    background-color: #e0f1f6;
}
.summer-treegrid-selected {
    list-style-type: none;
    background-color: #fdf4b6;
}
.summer-treegrid .ztree li ul {
    padding: 0;
}
.summer-treegrid .li-div {
    width: 100%;
    border-top: 1px solid #DDDDDD;
    font-size: 12px;
    overflow: hidden;
}
.summer-treegrid .li-div div {
    float: left;
    height: 30px;
    padding: 4px 10px;
    border-left: 1px solid #DDDDDD;
}
.summer-treegrid .li-div div a{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
.summer-treegrid .li-div div:first-child {
    border-left: 0;
}
.summer-treegrid li.level1 .summer-tree-field {
    padding-left: 24px;
}
.summer-treegrid li.level2 .summer-tree-field {
    padding-left: 48px;
}
.summer-treegrid li.level3 .summer-tree-field {
    padding-left: 72px;
}


.ztree li span.button.chk.checkbox_true_part {
    background-position: -14px 0 !important;
}
.ztree li span.button.chk.checkbox_false_part {
    background-position: 0 0 !important;
}
.ztree li span.button.chk.checkbox_true_part_focus {
     background-position: -14px 0 !important;
}
.ztree li span.button.chk.checkbox_false_part_focus {
    background-position: 0 0 !important;
}
/*单选框样式*/
.ztree li span.button.chk.radio_false_part {
    background-position: -28px -14px;
}


/*去除ztree字体选中时的边框*/
.ztree li a, .ztree li span.button {
    cursor: auto;
}
.ztree li a.curSelectedNode {
    background-color: transparent;
    border: 0 solid #7ec4cc;
    color: black;
    height: 19px;
    opacity: 0.8;
    padding-top: 1px;
}
