.childrensDiv{
  width: 100%;
  height: 21%;
  background: #fff;
  position: absolute;
  z-index: 100201;
  bottom: 51px;
  display: none;
}
.childrensDiv p{
  text-align: center;
}
.childrensDiv ul li{
  float: left;
  /* margin-left: 17%; */
}
.childrenline{
  width: 1px;
  height: 75%;
  background: #e0e0e0;
  margin-left: 50%;
}
.messagesTitle,.relieveMessagesTitle{
  background: #fff;
  position: absolute;
  width: 94%;
  height: 18%;
  margin-left: 3%;
  z-index: 100201;
  top: 40%;
  border-radius: 6px;
  opacity: 0.9;
  display: none;
}
.messagesImgs{
  display: inline-block;
  text-align: center;
  font-size: 12px;
}
.messagesImgs1 p{
  position: absolute;
  top: 30px;
  left: 50%;
  font-size: 15px;
}
.reminder{
  position: absolute;
  z-index: 10020200;
  width: 98%;
  margin-left: 1%;
  height: 13%;
  background: #fff;
  bottom: 200px;
  opacity: .9;
  display: none;
}
.reminderTishi{
  position: absolute;
  color: #e01111;
  top: 10px;
  left: 23%;
  width: 250px;
  text-align: center;
  font-size: 15px;
}
.installReturn{
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 14%;
  background: #fff;
  bottom: 51px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  visibility: collapse;
}
.installReturn img{
  padding: 10px;
}
.areas{
  z-index: 100201;
  position: absolute;
  width: 100%;
  height: 10%;
  background: #fff;
  bottom: 51px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 12px;
  color: #0099e8;
  visibility: collapse;
}
.areas div,.installReturn div{
  border-right: 1px solid #ccc;
  width: 100%;
}
.peoplesShowDiv{
  display: none;
}
.peoplesShow{
  z-index: 100201;
  position: absolute;
  width: 100%;
  height: 15%;
  text-align: center;
}
.peoplesShow1 div{
  width: 60px;
  height: 60px;
  color: #fff;
  margin: auto;
}
.peoplesShow1 div p{
  padding-top: 5px;
}
.peoplesShow1{
  position: absolute;
  width: 86%;
  height: 70px;
  margin-top: 4%;
  z-index: 100;
  display: flex;
  overflow-x: scroll;
  margin-left: 7%;
}
.peoplesShow2{
  width: 100%;
  height: 15%;
  position: absolute;
  background: black;
  opacity: 0.5;
  z-index: 10000;
}
.imagesIcom,.imagesIcomShare{
  width: 100%;
  height: 100%;
  z-index: 11111111;
  background: #333;
  position: absolute;
  opacity: .8;
  display: none;
}
.imagesIcomImg{
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
.buttonaeea{
  text-align: center;
    margin-top: 20%;
}
.buttonaeeaShare{
  text-align: center;
    margin-top: 20%;
}
.profilePhoto,.profilePhotoShare{
  /* margin-top: 70%; */
  position: absolute;
  margin-left: 100px;
}
.profilePhoto span,.profilePhotoShare span{
  font-size: 20px;
  color: #fff;
}
.profilePhoto img,.profilePhotoShare img{
  margin-left: 20px;
}
.markerAll,.shareMarkerAll{
  background-image: url('../css/images/positionBck.png');
  background-size: 22px;
  background-repeat: no-repeat;
  /* width: 80%!important; */
  /* height: 80%!important; */
  /* transform:"translate3d(349px, 616px, 0px)" */
}
.PDR{
  /* margin-top: -30px;
  margin-left: -2px; */
  padding: 0px 11px 12px 0px;
  /* padding: 0px 4px 5px 0px; */
}
.snake{
  /* background:-moz-linear-gradient(top center,#fff,#F6D66E);
  	background:-webkit-linear-gradient(top center,#fff,#F6D66E);
  	background:-o-linear-gradient(top center,#fff,#F6D66E);
  	background:-ms-linear-gradient(top center,#fff,#F6D66E);
  	background:linear-gradient(top center,#fff,#F6D66E);
  	background: -webkit-gradient(top center,#fff,#F6D66E); */
    -moz-animation:animations 2s ease infinite;
	-webkit-animation:animations 2s ease infinite;
	-o-animation:animations 2s ease infinite;
	-ms-animation:animations 2s ease infinite;
	animation:animations 2s ease infinite;
  padding:0px;
  border-radius: 20px;
}
/* @-webkit-keyframes animations{
	0%{box-shadow:0 0 10px rgba(204,102,0,.8);}
	50%{box-shadow:0 0 10px rgba(204,102,0,.3);}
	100%{box-shadow:0 0 10px rgba(204,102,0,.8);}
}
@-moz-keyframes animations{
	0%{box-shadow:0 0 10px rgba(204,102,0,.8);}
	50%{box-shadow:0 0 10px rgba(204,102,0,.3);}
	100%{box-shadow:0 0 10px rgba(204,102,0,.8);}
}
@keyframes animations{
	0%{box-shadow:0 0 10px rgba(204,102,0,.8);}
	50%{box-shadow:0 0 10px rgba(204,102,0,.3);}
	100%{box-shadow:0 0 10px rgba(204,102,0,.8);}
} */
