.form-control {
  width: 150px;
}

.leaflet-popup {
  width: 320px;
}

#mapdataform {
  /* height: 300px; */
  /* overflow-y: scroll; */
  /* overflow-x:hidden; */
  border-bottom: 1px solid #ccc;
}

.leaflet-control-attribution {
  display: none;
}

.top_Imgss {
  right: 5px;
  /* height: 40%; */
  opacity: .9;
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.34);
}
/* table居中 */
.fixed-table-container{
  text-align: center;
}
th{
  text-align: center;
}
